# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.project
.vscode/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The Dart SDK
.dart_tool/

# Flutter related
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbol databases
app.*.symbols

# Android related
**/android/local.properties
**/android/key.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS related
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_plugins.dependencies
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flash/

# Web related
.custom_chrome_profile/

# Project-specific assets
assets/images/photo*.webp
assets/videos/*.mp4
